<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Libreria Spring-Maven</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="css/formStyle.css" rel="stylesheet" />
                </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container px-5">
                <a class="navbar-brand" href="/">LIBRERIA SPRING V1.0</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto" id="ul1">
                        <li class="nav-item"><a class="nav-link" href="/libros">Libros</a></li>
                        <li class="nav-item"><a class="nav-link" href="/autores">Autores</a></li>
                        <li class="nav-item"><a class="nav-link" href="/editoriales">Editoriales</a></li>
                        <li class="nav-item"><a class="nav-link" href="/singUp">Sign Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logIn">Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="a1">
            <h1 id="h1"> LIBROS </h1>
            <!-- ISBN,ITULO, AÑO, EJEMPLARES, AUTOR, EDITORIAL-->
            <h2> INGRESAR LIBRO </h2>
            <form action="/libros" method="POST" enctype="multipart/form-data">
                <label> ISBN </label> 
                <br>
                <input type="text" class="form-control" name= "isbn" placeholder=" Ej: 0-0000-0000-0" id="inp1">
                
                <br>
                <label> Título </label> 
                <br>
                <input type="text" class="form-control" name="titulo" placeholder=" Ingrese Título del Libro" id="inp1">
                <br>
                <label> Año </label> 
                <br>
                <input type="text" class="form-control" name="anio" placeholder=" Ingrese el Año de publicación" id="inp1">
                <br>
                <label> Ejemplares </label> 
                <br>
                <input type="text" class="form-control" name="ejemplares" placeholder=" Ingrese la Cantidad de Ejemplares" id="inp1">
                <br>
                <label> Autor </label> 
                <br>
                <!--<form action="/agregar" method="POST"> -->
                <select class="form-control" name="autor" id="sel1"> 
                    <option th:each="autor : ${autores}" th:value="${autor.idA}" th:text="${autor.nombre}" id="autor"></option>
                </select>
                <!--  </form> -->
                <br>
                <label> Editorial </label> 
                <br>
               <!-- <form action="/agregar" method="POST">-->
                <select class="form-control" name="editorial" id="sel1"> 
                    <option th:each="editorial : ${editoriales}" th:value="${editorial.idE}" th:text="${editorial.nombre}" id="editorial" ></option>
                </select>
                <!--</form>-->
                <br>
                <button type="submit" class="btn btn-primary" id="btn1">Guardar</button>

            </form>
            <br>
            <h1 id="h1b"> LISTAR LIBROS </h1>
            <form action="/listarTodo" method="POST">
            
            <button type="submit" class="btn btn-primary" id="btn2">Listar</button>
            </form>
            <br>
            <br>
        </div>

    </body>
</html>
